.bonus {
    display: none;
    margin-top: 10px;
}

.base {
    margin-top: 10px;
}

.description {
    display: none;
}

#bonusLink {
    display: none;
}

.settings {
    display: none;
}

.type-action {
    display: none;
}

input {
    border-radius: 5px;
}

.container {
    background-color: lemonchiffon;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 100px;
}

#bonusForm p {

}